<template name="navG">
    <div class="nanav">
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper pink lighten-2">
                    <a href="{{pathFor 'homes'}}" class="brand-logo">Home</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a class="modal-trigger" href="#modal1">Зробити заказ</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</template>
